<div class="article">
    <div class="header">
        <div class="title">站点信息</div>
    </div>
    <div class="section entry">
        <form asp-action="Index" asp-controller="Admin" method="post" id="frmConfig">
            <p>
                网站名称: <br />
                <input type="text" name="site" value="@ViewBag.Site" />
            </p>
            <p>
                网站介绍: <br />
                <input type="text" name="description" value="@ViewBag.Description" />
            </p>
            <p>
                头像URL: <br />
                <input type="text" name="avatarUrl" value="@ViewBag.AvatarUrl" />
            </p>
            <p>
                Disqus: <br />
                <input type="text" name="disqus" value="@ViewBag.Disqus" />
            </p>
            <p>
                关于URL: <br />
                <input type="text" name="aboutUrl" value="@ViewBag.AboutUrl" />
            </p>
            <p>
                用户名: <br />
                <input type="text" name="Account" value="@ViewBag.Account" />
            </p>
            <p>
                密码: <br />
                <input type="password" name="password" value="" />
            </p>
            <p>
                GitHub: <br />
                <input type="text" name="GitHub" value="@ViewBag.GitHub" />
            </p>
            <p>
                Following: <br />
                <input type="checkbox" name="Following" value="true" @(ViewBag.Following ? " checked" : "") />
            </p>
            <p>
                Followers: <br />
                <input type="checkbox" name="Follower" value="true" @(ViewBag.Follower ? " checked" : "") />
            </p>
            <p>
                <input type="button" class="more-link" value="保存" onclick="saveConfig()" />
            </p>
        </form>
    </div>
</div>