@model Prompt
@if (Html.IsRaw())
{
    @(new HtmlString("<div>"))
    <div id="raw_info">
        <div class="role-title">@Model.Title - @ViewBag.Description</div>
        <div class="role-body-class">home</div>
        <div class="role-head-title">
            <p><h1>@Model.Title</h1></p>
        </div>
    </div>
}
<div class="cont-wrap">
    <div class="grid_9">
        <div class="post">
            <div class="post-body">
                @Model.Details
            </div>
        </div>
    </div>
    @Html.Partial("Sidebar");
</div>
@if (Html.IsRaw())
{
    @(new HtmlString("</div>"))
}