<div class="grid_3">
    <div class="sidebar">
        @Html.Partial("PostInfo")
        @Html.Partial($"~/Views/{Template.Current.Identifier}/Shared/Catalog.cshtml")
        @Html.Partial("Tag")
        @Html.Partial("Calendar")
        @Html.Partial("Admin")
    </div>
    @Html.Partial("About")
    @Html.Partial("Roll")
</div>
<div class="clear"></div>
